
* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
}

/* home*/
.hero {
	height: 100vh;
	width: 100%;
	background-image: url(img/bgHome.png);
	background-size: cover;
	background-position: center;
}

/* logo */
.logo {
	background-color: none;
	cursor: pointer;
}

/* navigasi */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 8%;
	padding-right: 8%;
	top: 0;
	position: sticky;
	z-index: 99;
	background-color: rgba(0,0,0,90%);
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: #3484df;
	transition: .4s;
}

.btn {
	background-color: rgb(52, 132, 223);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover {
	transform: scale(1.2);
}


/* content hero */
.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0 20px;
	font-size: 75px;
}
h1 span {
	color: #3484df;
	text-shadow: 0px 0px 3px #aabafacc;
}
h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4 {
	color: #aabafacc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #3484df;
	outline: none;
	border-radius: 30px;
	background-color: white;
}
.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #3484df;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #aabafacc;
	top: 6px;
	right: 6px;
}


/* Profile Section */
.profile {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.profile img {
	height: auto;
	width: 353px;
	border-radius: 30px;
	filter: drop-shadow(3px 3px 5px  rgba(0,0,0,.8));
}
.profile-text {
	width: 550px;
	background-color: #191919;
}
.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #191919;
}
.profile-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
	background-color: #191919;
}
.profile-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	background-color: #191919;
}
.profile-text h5 span {
	color: #3484df;
	background-color: #191919;
}
.profile-text p {
	color: #aabafacc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	background-color: #191919;
}
button {
	background-color: #3484df;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover {
	background-color: transparent;
	border: 2px solid #3484df;
	cursor: pointer;
}
button a {
	color: white;
	text-decoration: none;
}


/* Gallery */
.container-gallery {
	width: 85%;
	background-color: #191919;
	margin: auto;
	padding-top: 20px;
	padding-left: 3.5%;
	padding-right: 3.5%;
	border: 10px solid black;
	border-radius: 5%;
	padding-bottom: 3%;
}
.container-gallery h1 {
	color: white;
	background-color: transparent;
	text-align: center;
}
.gallery li {
	width: 250px;
	height: 500px;
	overflow: hidden;
	float: left;
	margin-right: 7px;
	background-color: transparent;
	border-radius: 5%;
	position: relative;	
}
.gallery li a img {
	filter: grayscale(50%);
}
.gallery {
	background-color: #191919;
}
.gallery li a span {
	display: block;
	width: 250px;
	height: 500px;
	background-color: rgba(133, 140, 162, 0.7);
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 500px;
	color: #333;
	text-shadow: 1px 1px 1px #ddd;
	transform: scale(0) ;
	transition: .4s;
	opacity: 0;	
	font-size: 0px;
}
.gallery li a:hover span{
	opacity: 1;
	transform: scale(1);
	border-radius: 5%;
	font-size: 25px;
	font-weight: bold;
}
.clear {
	clear: both;
}
/* overlay gallery */
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;

	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);

	z-index: 999;
	transition: .8s;

	text-align: center;
	padding: 100px 0;
}
.overlay:target {
	width: auto;
	height: auto;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
}
.overlay img {
	max-height: 100%;
	box-shadow: 2px, 2px, 7px, #3484df;
}
.overlay:target img {
	animation: fade 1s;
}
.overlay .close {
	position: absolute;
	top: 50px;
	left: 50%;

	color: white;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	border: 5px solid red;
	background-color: red;
	border-radius: 50%;

	line-height: 14px;
	padding: 5px;
	opacity: 0;
}
.overlay:target .close {
	animation: slideDownFade .5s .5s forwards;
}
.overlay:target .next,
.overlay:target .previous {
	animation: fade .5s .5s forwards;
}
.next, .previous {
	width: 49px;
	height: 93px;
	background-image: url(img/next.png);
	position: absolute;
	text-indent: -9999px;
	top: 40%;
	margin-left: 50px;
	opacity: 0;
	background-color: transparent;
	filter: drop-shadow(5px 5px 5px rgb(52, 132, 223));
}
.previous {
	background-image: url(img/prev.png);
	margin-left: -100px;
}


/* Activities */
.activities {
	width: 100%;
	padding: 100px 0px;
	background-color: black;
}
.title h2 {
	color: white;
	font-size: 75px;
	width: auto;
	margin: 30px;
	text-align: center;
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 400px;
}
.card {
	height: 365px;
	width: 335px;
	padding: 2px 35px;
	background-color: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
	background-color: #191919;
}
h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
	background-color: #191919;
}
.describe p {
	color: #aabafacc;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 25px;
	background-color: #191919;
}


/* Contact */
.contact {
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact p {
	color: white;
	font-size: 30px;
	margin-bottom: 25px;
	background: #191919;
}
.contact .button-two {
	background-color: #3484df;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
.contact .button-two:hover {
	background-color: transparent;
	border: 2px solid #3484df;
	cursor: pointer;
}

/* Contact & footer */
footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p{
	background-color: #101010;

}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
.social {
	display: flex;
}
.social a {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover {
	transform: scale(1.3);
	transition: .3s;

}
.end {
	position: absolute;
	color: #3484df;
	bottom: 35px;
	font-size: 14px;
}











/* animation */
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideDownFade {
	0% {
		opacity: 0;
		margin-top: -20px;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}



















